In [1]:
# Import modules
import sqlalchemy as sql

In [2]:
# Create a temporary sqlite database
database_connection_string = 'sqlite:///'

In [3]:
# Database connection object
engine = sql.create_engine(database_connection_string, echo=True)

## Create a SQL Table

In [4]:
# Create a table with SQL syntax
#   CREATE TABLE <table_name> (
#     <column_name> <data_type>,
#     <column_name> <data_type>,
#     ...,
#     <column_name> <data_type>
#   )

In [5]:
# Create a table with SQL syntax
sql_statement = '''
CREATE TABLE payments (
  payment_id INT PRIMARY KEY,
  mortgage_id INT,
  customer_id INT,
  payment INT,
  payment_date DATE
)
'''

print(type(sql_statement))

<class 'str'>

In [6]:
# Execute the SQL statement
result = engine.execute(sql_statement)

2023-01-17 18:45:25,698 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2023-01-17 18:45:25,699 INFO sqlalchemy.engine.base.Engine ()
2023-01-17 18:45:25,700 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2023-01-17 18:45:25,700 INFO sqlalchemy.engine.base.Engine ()
2023-01-17 18:45:25,702 INFO sqlalchemy.engine.base.Engine
CREATE TABLE payments (
  payment_id INT PRIMARY KEY,
  mortgage_id INT,
  customer_id INT,
  payment INT,
  payment_date DATE
)

2023-01-17 18:45:25,702 INFO sqlalchemy.engine.base.Engine ()
2023-01-17 18:45:25,703 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
# Get table names from the database
engine.table_names()

2023-01-17 18:45:25,757 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-01-17 18:45:25,758 INFO sqlalchemy.engine.base.Engine ()

['payments']

## Insert Data into the Table

In [8]:
# Syntax for SQL INSERT  statement
# INSERT INTO table_name(colum1, column2, ...) VALUES (val, val, ...), (val, val, ...)

In [9]:
# Write the INSERT SQL query
insert_data = """
    INSERT INTO payments ("payment_id", "mortgage_id", "customer_id", "payment", "payment_date")
    VALUES
    (6530784, 530180, 0, 849, 2007-02-12), 
    (5332543, 625617, 1, 1116, 2007-10-21), 
    (6633146, 588605, 2, 2465, 2002-06-22)
    """

In [24]:
# Execute the INSERT SQL statement
insert_data_output = engine.execute(insert_data)

2023-01-17 18:48:21,086 INFO sqlalchemy.engine.base.Engine
    INSERT INTO payments ("payment_id", "mortgage_id", "customer_id", "payment", "payment_date")
    VALUES
    (6530784, 530180, 0, 849, 2007-02-12),
    (5332543, 625617, 1, 1116, 2007-10-21),
    (6633146, 588605, 2, 2465, 2002-06-22)

2023-01-17 18:48:21,087 INFO sqlalchemy.engine.base.Engine ()
2023-01-17 18:48:21,089 INFO sqlalchemy.engine.base.Engine ROLLBACK

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: payments.payment_id
[SQL:
    INSERT INTO payments ("payment_id", "mortgage_id", "customer_id", "payment", "payment_date")
    VALUES
    (6530784, 530180, 0, 849, 2007-02-12),
    (5332543, 625617, 1, 1116, 2007-10-21),
    (6633146, 588605, 2, 2465, 2002-06-22)
    ]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

## Read a SQL Table

In [25]:
# The SQL syntax to read a database table
# SELECT <columns> FROM <table_name>

In [27]:
# Select all rows from the payments table
sql_statement = "SELECT * FROM payments" # * grab all columns

In [28]:
# Execute the SQL statement
result = engine.execute(sql_statement)

2023-01-17 18:50:02,135 INFO sqlalchemy.engine.base.Engine SELECT * FROM payments
2023-01-17 18:50:02,136 INFO sqlalchemy.engine.base.Engine ()

In [29]:
# Review the result object
result

In [30]:
# Print the results in the result object
for row in result:
    print(row)

(6530784, 530180, 0, 849, 1993)
(5332543, 625617, 1, 1116, 1976)
(6633146, 588605, 2, 2465, 1974)

In [31]:
# Alternative method using fetchall. The result object is cleared after it is read.
# You will need to re-execute the sql statement again.

# Execute sql statement
result = engine.execute(sql_statement)

# Review the data with the fetchall method
result.fetchall()

2023-01-17 18:51:36,604 INFO sqlalchemy.engine.base.Engine SELECT * FROM payments
2023-01-17 18:51:36,605 INFO sqlalchemy.engine.base.Engine ()

[(6530784, 530180, 0, 849, 1993),
 (5332543, 625617, 1, 1116, 1976),
 (6633146, 588605, 2, 2465, 1974)]