In [1]:
# Import modules
import pandas as pd
import sqlalchemy as sql

## Create the SQLite database and engine

In [5]:
# Create a temporary sqlite database
database_connection_string = 'sqlite:///'

In [6]:
# Database connection object
engine = sql.create_engine(database_connection_string)
engine

Engine(sqlite:///)

In [7]:
# Get table names from the database
engine.table_names()

[]

## Create a Table From a Pandas DataFrame

In [21]:
# Create the DataFrame
mortgage_dataframe = pd.DataFrame({'Amount': [100, 200], 'Rate': [0.375, 0.50]})
# display(mortgage_dataframe)

# Convert the DataFrame to a SQL table
mortgage_dataframe.to_sql('mortgage', con=engine, index=False, if_exists='replace')

# Confirm table creation
engine.table_names()

['customers', 'mortgage', 'mortgages', 'payments']

## Read in a Database File

In [14]:
# Database filepath
database_connection_string = 'sqlite:///../Resources/mortgage.db'

In [15]:
# Database connection object
engine = sql.create_engine(database_connection_string)
engine

Engine(sqlite:///../Resources/mortgage.db)

In [16]:
# Get table names from the database
engine.table_names()

['customers', 'mortgages', 'payments']

# Review a table as a Pandas DataFrame

In [18]:
# Create the Pandas DataFrame from a database table
mortgage_customers_df = pd.read_sql_table('mortgages', con=engine)

# Review the DataFrame
mortgage_customers_df.head()

,mortgage_id,principal_balance,mortgage_rate,account_creation_date,originator_id
0,530180,611789,0.085190,2002-05-08,1004
1,625617,210981,0.084514,2006-04-15,1000
2,588605,172969,0.047487,2008-05-01,1009
3,761909,514980,0.053687,2004-06-12,1001
4,613158,343757,0.040572,2005-10-14,1001